{% extends 'base.html.twig' %}

{% block title %}Index | {{parent()}}{% endblock %}

{% block body %}
    <main id="index" class="start_main">
        <img src="{{ asset('img/speedrun.png') }}" alt="Logo de l'application Speedrun" class="logo">
        <h1>Bienvenu Sur Speedrun</h1>
        <p>Mon paragraphe explicatif de l'application speedrun.</p>
        <a href="{{path('app_index_start')}}" class="next">Commencer</a>
    </main>
{% endblock %}
