{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <main id="index">
        <img src="{{ asset('img/speedrun.png') }}" alt="Logo de l'application Speedrun" class="logo">
        <h1>Bienvenu Sur Speedrun</h1>
        <p>Mon paragraphe explicatif de l'application speedrun.</p>
        <button class="next">Commencer</button>
    </main>
{% endblock %}
